{% extends "::base.html.twig" %}

{% block title %}Perfs/Contres de {{ licensee.lastname }} {{ licensee.firstname }} | {{ parent() }}{% endblock %}
{% block meta_description %}Retrouvez les perfs et les contres de {{ licensee.lastname }} {{ licensee.firstname }}.{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/applicationsonatauser/css/perfCons.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('/bundles/applicationsonatauser/css/monthNav.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block title_page %}user{% endblock %}

{% block h1 %}
    <h1 class="pull-left">Perfs/Contres de {{ licensee.lastname }} {{ licensee.firstname }}</h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('http://code.highcharts.com/2.2/highcharts.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            if( $('#matchsPie').length > 0 ) {
                var colors = Highcharts.getOptions().colors;
                
                // Pie chart
                var categories = ['Perfs', 'Contres'];
                var data = [{
                        y: {{pieData.nbPerfDataPerc|json_encode()}},
                        color: colors[0],
                        drilldown: {
                            name: 'Perfs classement',
                            categories: {{pieData.perfData|json_encode()}},
                            data: {{pieData.perfDataPerc|json_encode()}},
                            color: colors[0]
                        }
                    }, {
                        y: {{pieData.nbConsDataPerc|json_encode()}},
                        color: colors[1],
                        drilldown: {
                            name: 'Contres classement',
                            categories: {{pieData.consData|json_encode()}},
                            data: {{pieData.consDataPerc|json_encode()}},
                            color: colors[1]
                        }
                    }];


                    // Build the data arrays
                    var browserData = [];
                    var versionsData = [];
                    for (var i = 0; i < data.length; i++) {

                        // add browser data
                        browserData.push({
                            name: categories[i],
                            y: data[i].y,
                            color: data[i].color
                        });

                        // add version data
                        for (var j = 0; j < data[i].drilldown.data.length; j++) {
                            var brightness = 0.2 - (j / data[i].drilldown.data.length) / 5 ;
                            versionsData.push({
                                name: data[i].drilldown.categories[j],
                                y: data[i].drilldown.data[j],
                                color: Highcharts.Color(data[i].color).brighten(brightness).get()
                            });
                        }
                    }

                    // Create the chart
                    chart2 = new Highcharts.Chart({
                        chart: {
                            renderTo: 'matchsPie',
                            type: 'pie'
                        },
                        title: {
                            text: ''
                        },
                        yAxis: {
                            title: {
                                text: 'Total percent market share'
                            }
                        },
                        plotOptions: {
                            pie: {
                                shadow: false
                            }
                        },
                        tooltip: {
                                valueSuffix: '%'
                        },
                        series: [{
                            name: 'Matchs joués',
                            data: browserData,
                            size: '50%',
                            dataLabels: {
                                formatter: function() {
                                    return this.y > 5 ? this.point.name : null;
                                },
                                color: 'white',
                                distance: -25
                            }
                        }, {
                            name: 'Matchs joués',
                            data: versionsData,
                            innerSize: '50%',
                            dataLabels: {
                                formatter: function() {
                                    //return null;
                                    // display only if larger than 1
                                    return this.y > 1 ? '<b>'+ this.point.name +'</b>' : null;
                                },
                                //color: 'white',
                                distance: 10
                            }
                        }]
                    });
                }
            });
    </script>
{% endblock %}

{% block content %}

    <div class="col-md-2">

        {% include "ApplicationSonataUserBundle:Default:monthNav.html.twig" with {'licensee': licensee, 'monthsNav': monthsNav, 'startDate': startDate, 'endDate': endDate, 'internal_uri': '_sonataUserMatchsPie'} %}

    </div>

    <div class="col-md-10">

        {% if pieData.nbPerfData > 0 or pieData.nbConsData > 0 %}
            <div id="matchsPie"></div>
        {% else %}
            <p>Aucun match n'a encore été joué ce mois-ci.</p>
        {% endif %}

    </div>

{% endblock %}

{% block sidebar %}
    
     {% include "ApplicationSonataUserBundle:Default:sidebar-menu.html.twig" with { 'active_item_menu': 'perfCons' } %}

    {{ parent() }}

{% endblock %}