<!-- Latest Comment Forum -->
<div class="headline"><span class="title">Forum</span></div>
<div class="profile home-comments">
    <div iclass="panel-body no-padding _mCS_3 mCS-autoHide" data-mcs-theme="minimal-dark" style="position: relative; overflow: visible;">
        <div class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0">
            <div class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">
                {% for post in last_post_list %}
                    <div class="profile-event">
                        <div class="date-formats">
                            <span>{{ post.createdAt|date('d') }}</span>
                            <small>{{ post.createdAt|date('m Y') }}</small>
                        </div>
                        <div class="overflow-h">
                            <span class="author heading-xs">
                                {% if post.u_username is not empty %}
                                    {{ post.u_username }}
                                {% else %}
                                    Anonyme
                                {% endif %}
                            </span>
                            <p>
                                <a href='{{ path('herzult_forum_topic_show', {'timestamp' : post.t_createdAt|date('U'), 'categorySlug' : post.cat_slug, 'slug' : post.t_slug } )}}'>
                                    {{ post.message | striptags | truncate(160) | raw }}
                                </a>
                            </p>
                        </div>    
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- End Latest Comment -->