{% extends 'HerzultForumBundle::layout.html.twig' %}

{% block title %}{{ topic.subject }} - Déposer un message - {{ parent() }}{% endblock %}
{% block meta_description %}Déposez un message sur le sujet {{ topic.subject | truncate(150) | striptags }}.{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/assets/css/pages/profile.css') }}">
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/tiny_mce/jquery.tinymce.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('textarea').tinymce({
                // Location of TinyMCE script
                script_url : '/js/tiny_mce/tiny_mce.js',
                convert_urls: false,

                // General options
                theme : "advanced",
                plugins : "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

                // Theme options
                theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,fontsizeselect,|,undo,redo,|,link,unlink,|,forecolor,backcolor,|,image,media,fullscreen,|,emotions",
                theme_advanced_toolbar_location : "top",
                theme_advanced_toolbar_align : "left",
                theme_advanced_statusbar_location : "bottom",
                theme_advanced_resizing : true,

                width: '100%',
                height: '350px'
            });
        });

    </script>
{% endblock %}

{% block h1 %}
    <h1 class="pull-left">{{ topic.subject }} - Déposer un message</h1>
{% endblock %}

{% block content %}
    <p>
        <a href="{{ forum_urlForTopic(topic) }}" class="btn-u btn-u-blue grow">
            <i class="fa fa-arrow-circle-o-left"></i> Retour au sujet
        </a>
    </p>

    <form action="{{ url('herzult_forum_topic_post_create', { 'slug': topic.slug, 'categorySlug' : topic.category.slug }) }}" method="post" class="sky-form">
        <header>Compléter ce formulaire afin de soumettre votre message</header>

        <fieldset>
            <section>
                {{ form_label(form.message) }}<span class="color-red">*</span>
                {{ form_widget(form.message) }}
            </section>
        </fieldset>
        
        {{ form_rest(form) }}

        <footer>
            <button type="submit" class="button">Valider mon message</button>
        </footer>
    </form>
{% endblock %}

{% block sidebar %}
    
    {#}
    <div class="headline"><h2>Liste des forums</h2></div>
    {% render 'HerzultForumBundle:Category:list' %}
    {#}

    {{ parent() }}

{% endblock %}