<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr-FR" lang="fr-FR" class="loading">
    <head>
        <title>{% block title %}Tennis de table Club d'Aizenay (85) - CPF Aizenay{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="{% block meta_description %}Le club de tennis de table d'Aizenay présent sur le web. Retrouvez l'actualité pongiste du club et de la fédération.{% endblock %}" xml:lang="fr-FR" lang="fr-FR" />
        <meta name="keywords" content="" xml:lang="fr-FR" lang="fr-FR" />
        <meta name="robots" content="{% block meta_robots %}index, follox{% endblock %}" />
        <meta name="author" content="{% block meta_author %}CPF Aizenay{% endblock %}" />
        
        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ asset('/images/default/favicon.ico') }}" type="image/x-icon" />
        <link rel="apple-touch-icon-precomposed" href="{{ asset('/images/default/apple-touch-icon.ico') }}" />

        <style>
            html.loading { background-color: #fff !important; }
            html.loading body { background-color: #fff !important; height: 100%; min-height: 600px; }
            html.loading body > * { display: none; }
            html.loading body .loader.show { display: block !important; }

            .loader:before,
            .loader:after,
            .loader {
                display: block;
                border-radius: 50%;
                width: 2.5em;
                height: 2.5em;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                -webkit-animation: load7 1.8s infinite ease-in-out;
                animation: load7 1.8s infinite ease-in-out;
            }
            .loader {
                display: none;
                margin: 8em auto;
                font-size: 10px;
                position: absolute;
                left: 0;
                right: 0;
                top: 45%;
                bottom: 0;
                margin-top: -25px;

                text-indent: -9999em;
                -webkit-transform: translateZ(0);
                -ms-transform: translateZ(0);
                transform: translateZ(0);
                -webkit-animation-delay: -0.16s;
                animation-delay: -0.16s;
            }
            .loader:before {
                left: -3.5em;
                -webkit-animation-delay: -0.32s;
                animation-delay: -0.32s;
            }
            .loader:after {
                left: 3.5em;
            }
            .loader:before,
            .loader:after {
                content: '';
                position: absolute;
                top: 0;
            }
            @-webkit-keyframes load7 {
              0%,
              80%,
              100% {
                box-shadow: 0 2.5em 0 -1.3em #3498db;
              }
              40% {
                box-shadow: 0 2.5em 0 0 #3498db;
              }
            }
            @keyframes load7 {
              0%,
              80%,
              100% {
                box-shadow: 0 2.5em 0 -1.3em #3498db;
              }
              40% {
                box-shadow: 0 2.5em 0 0 #3498db;
              }
            }
        </style>

        <link rel="stylesheet" href="{{ asset('/assets/plugins/font-awesome/css/font-awesome.min.css') }}">
        
        <noscript>
            <!-- CSS Global Compulsory -->
            <link rel="stylesheet" href="{{ asset('/assets/plugins/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('/assets/css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('/assets/css/plugins.css') }}">
            <link rel="stylesheet" href="{{ asset('/assets/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css') }}">

            <!-- CSS Implementing Plugins -->
            <link rel="stylesheet" href="{{ asset('/assets/plugins/line-icons/line-icons.css') }}">
            <link rel="stylesheet" href="{{ asset('/assets/plugins/flexslider/flexslider.css') }}">  
            <link rel="stylesheet" href="{{ asset('/assets/plugins/parallax-slider/css/parallax-slider.css') }}">
            <link rel="stylesheet" href="{{ asset('/assets/plugins/image-hover/css/img-hover.css') }}">

            <!-- CSS Page Style -->  
            <link rel="stylesheet" href="{{ asset('/assets/css/pages/blog_magazine.css') }}">

            <!-- CSS Page Style -->    

            <!-- CSS Theme -->    
            <link rel="stylesheet" href="{{ asset('/assets/css/themes/blue.css') }}" id="style_color">

            <!-- CSS Customization -->
            <link rel="stylesheet" href="{{ asset('/assets/css/custom.css') }}">
        </noscript>
        
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% if app.environment == 'prod' %}
            <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-19662787-1']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script>
        {% endif %}
    </head>
    <body>

        <div class="loader">Chargement...</div>
        <div class="wrapper">
            <!--=== Header ===-->    
            <div class="header">
                <!-- Topbar -->
                <div class="topbar">
                    <div class="container">
                        <!-- Topbar Navigation -->
                        <ul class="loginbar pull-right">
                            {#}
                            <li>
                                <i class="fa fa-globe"></i>
                                <a>Languages</a>
                                <ul class="lenguages">
                                    <li class="active">
                                        <a href="#">English <i class="fa fa-check"></i></a> 
                                    </li>
                                    <li><a href="#">Spanish</a></li>
                                    <li><a href="#">Russian</a></li>
                                    <li><a href="#">German</a></li>
                                </ul>
                            </li>
                            <li class="topbar-devider"></li>   
                            {#}
                            <li><a href="{{ path('_baseContactIndex') }}"><i class="fa fa-envelope"></i> Contact</a></li>  
                            <li class="topbar-devider"></li>

                            {{ render(controller("FOSUserBundle:Security:loginPartial", {}), {}) }}
                        </ul>
                        <!-- End Topbar Navigation -->
                    </div>
                </div>
                <!-- End Topbar -->

                <!-- Navbar -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="fa fa-bars"></span>
                            </button>

                            <a class="navbar-brand" href="{{ path('_homepage') }}" title='CPF Aizenay'>
                                <img src="{{ asset('/images/default/logo.png') }}" alt='CPF Aizenay' width='179' height='70' />
                                {#}
                                {% image '/images/default/logo.png' filter='optipng' output='/images/logo.png' %}
                                    <img src="{{ asset_url }}" alt='CPF Aizenay' width='179' height='70' />
                                {% endimage %}
                                {#}
                            </a>
                            {% block slogan %}
                                <span class='slogan'>Club Pongiste France d'Aizenay</span>
                            {% endblock %}
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-responsive-collapse">

                            {{ knp_menu_render('main', {'depth': 3, 'currentAsLink': true, 'currentClass': 'active', 'ancestorClass': 'active'}) }}
                            
                        </div><!--/navbar-collapse-->
                    </div>    
                </div>            
                <!-- End Navbar -->

            </div>
            <!--=== End Header ===-->

            {% if app.request.attributes.get('_route') != '_homepage' %}
                <!--=== Breadcrumbs ===-->
                <div class="breadcrumbs">
                    <div class="container">
                        {% block h1 %}{% endblock %}
                        {{ wo_render_breadcrumbs({listClass: 'pull-right breadcrumb', separator: false}) }}
                    </div>
                </div><!--/breadcrumbs-->
                <!--=== End Breadcrumbs ===-->
            {% else %}
                <!--=== Main News Block ===-->
                {{ render(url('_homeNews', { standalone: 'hinclude' })) }}
                <!--=== End Main News Block ===-->
            {% endif %}

            <!--=== Content Part ===-->
            <div class="container content">

                <div class="row margin-bottom-30">
                    <div class="col-md-9">

                        <!--=== Announcement Block ===-->
                        {% set announcement = announcement_render( app.request.requesturi ) %}
                        {% if announcement is not null %}
                            <div class="clearfix margin-bottom-30"></div>
                            <div class="shadow-wrapper">
                                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                                        <h2>{{ announcement["a_title"] }}</h2>
                                        <p>{{ announcement["a_content"] | replace({'&lt;':'<', '&gt;':'>'}) | striptags | raw }}</p>
                                </div>
                            </div><!--/row-->
                        {#}{% elseif app.request.attributes.get('_route') == '_homepage' %}
                           <h2>Bienvenue sur le site de CPF Aizenay !</h2>{#}
                        {% endif %}
                        <!-- End Announcement Block -->

                        {% block content %}{% endblock %}
                    </div>


                    <div class="col-md-3">
                        {% block sidebar %}
                            {% if app.request.attributes.get('_route') == '_homepage' %}
                                {{ render(controller("TableTennisUsefulInformationBundle:Default:home", {}), {}) }}
                            {% endif %}

                            {% if app.request.attributes.get('_route') == '_homepage' %}
                                {% include 'BaseAdBundle:Default:ad250x250.html.twig' with {} %}
                            {% else %}
                                {% include 'BaseAdBundle:Default:adAdaptable.html.twig' with {} %}
                            {% endif %}

                            {% if app.request.attributes.get('_route') == '_homepage' %}
                                {{ render(controller("BasePicsBundle:Default:home", {}), {}) }}
                                {{ render(controller("BaseCommentBundle:Default:home", {}), {}) }}
                                {{ render(controller("BaseForumBundle:LastPost:show", {}), {}) }}
                                {#}{{ render(controller('BaseGoogleAgendaBundle:Default:home', {}), {}) }}{#}
                            {% endif %}
                        {% endblock %}
                    </div>

                </div>
                
                <!-- Our Partner -->
                {{ render(controller("TableTennisPartnerBundle:Default:home", {}), {}) }}
                <!-- End Our Partner -->

            </div><!--/container-->     
            <!-- End Content Part -->


            <!--=== Footer ===-->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 md-margin-bottom-40">

                            <div class="headline"><span class="title">Suivez-nous</span></div>
                            {{ render(controller("BaseSocialBundle:Facebook:likebox", {}), {}) }}
                            <!-- End Monthly Newsletter -->
                        </div><!--/col-md-4-->  
                        
                        <div class="col-md-4 md-margin-bottom-40">
                            <div class="headline"><span class="title">Qui sommes-nous ?</span></div>
                            <p class="margin-bottom-25 md-margin-bottom-40"><span class="dropcap-bg">&nbsp;CPF&nbsp;</span>CPF AIZENAY est avant toute chose votre site d'actualités pongistes agésinates. CPFAIZENAY se propose de vous faire découvrir principalement les licenciés, les événéments et l'actualité du club de tennis de table de la ville d'Aizenay.</p>
                            <a rel="grow" class="btn-u btn-u-blue grow" href="{{ path('_basePageIndex', {'slug': 'presentation-du-club'}) }}" title="Présentation de CPF Aizenay">En savoir plus</a>
                        </div><!--/col-md-4-->

                        <div class="col-md-4">
                            <!-- Contact Us -->
                            <div class="headline"><span class="title">Contactez-nous</span></div> 
                            <address class="md-margin-bottom-40">
                                <i class="fa fa-home"></i> Complexe Sportif de La Galerne-Noroît<br />
                                85190 Aizenay <br />
                                <i class="fa fa-phone"></i> <a href="tel:0251483333" class="tel">02.51.48.33.33</a>
                            </address>
                            <a rel="grow" class="btn-u btn-u-blue grow" href="{{ path('_baseContactIndex') }}">Nous contacter</a>
                            <!-- End Contact Us -->

                            <!-- Social Links -->
                            <div class="headline"><span class="title">Restez connecté</span></div> 
                            <ul class="social-icons">
                                <li><a href="{{ path('_baseNewsRss') }}" data-original-title="Feed" class="social_rss"></a></li>
                                <li><a href="{{ facebook_uri }}" data-original-title="Facebook" class="social_facebook"></a></li>
                            </ul>
                            <!-- End Social Links -->
                        </div><!--/col-md-4-->
                    </div>
                </div> 
            </div><!--/footer-->
            <!--=== End Footer ===-->

            <!--=== Copyright ===-->
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">                     
                            <p>
                                2014 &copy; CPF Aizenay. Tous droits réservés. 
                                <a href="{{ path('_baseCguIndex') }}">Règlement</a> | <a href="{{ path('_basePageIndex', {'slug': 'devblog'}) }}">Dev Blog</a> | <a href="{{ path('_baseSiteMapIndex') }}">Plan du site</a>
                            </p>
                        </div>
                        <div class="col-md-6">  
                            <a href="{{ path('_homepage') }}">
                                <img class="pull-right" id="logo-footer" src='{{ asset('/images/default/logo.png') }}' alt='CPF Aizenay' width='108' height='40' />
                            </a>
                        </div>
                    </div>
                </div> 
            </div><!--/copyright--> 
            <!--=== End Copyright ===-->

    </div><!--/wrapper-->



        {% block javascripts %}

            <!-- JS Global Compulsory -->           
            <script type="text/javascript" src="{{ asset('/assets/plugins/jquery-1.10.2.min.js') }}"></script>

            <script>
                setTimeout( function() {
                    $('.loader').addClass("show");
                }, 1000 );

                (function() {
                    var sourcesJs = [];

                    {% javascripts 'assets/plugins/jquery-migrate-1.2.1.min.js'
                                   'assets/plugins/bootstrap/js/bootstrap.min.js'
                                   'assets/plugins/back-to-top.js'
                                   'assets/plugins/flexslider/jquery.flexslider-min.js'
                                   'assets/plugins/parallax-slider/js/modernizr.js'
                                   'assets/plugins/parallax-slider/js/jquery.cslider.js'
                                   'assets/plugins/image-hover/js/modernizr.js'
                                   'assets/plugins/image-hover/js/touch.js'
                                   'assets/js/app.js'
                                   'assets/js/pages/index.js'
                                   'assets/js/custom.js'
                                   'js/cookiechoices.js'
                                   'js/main.js'

                                   filter='?yui_js' output='assets/js/main.js'
                                   %}
                        {% autoescape 'js' %}
                            sourcesJs.push('{{ asset_url }}');
                        {% endautoescape %}
                    {% endjavascripts %}

                    var s = document.getElementsByTagName('script')[0];
                    var uv = null;
                    for (var i = 0; i < sourcesJs.length; i++) {
                         uv = document.createElement('script');
                         uv.type = 'text/javascript';
                         uv.async = true; 
                         uv.src = sourcesJs[i];
                         s.parentNode.insertBefore(uv, s);
                    }
                })();
            </script>

            <!--[if lt IE 9]>
                <script src="{{ asset('assets/plugins/respond.js') }}"></script>
                <script src="{{ asset('assets/plugins/html5shiv.js') }}"></script>    
            <![endif]-->

        {% endblock %}

        {% block stylesheets %}
            <script>
                (function() {
                    var sourcesCss = [];
                    
                    {% stylesheets 'assets/plugins/bootstrap/css/bootstrap.min.css'
                                   'assets/css/style.css'
                                   'assets/css/plugins.css'
                                   'assets/css/plugins/box-shadows.css'
                                   'assets/css/plugins/animate.css'

                                   'assets/css/app.css'
                                   'assets/css/ie8.css'

                                   'assets/plugins/sky-forms/version-2.0.1/css/sky-forms.css'
                                   'assets/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css'

                                   'assets/plugins/line-icons/line-icons.css'
                                   'assets/plugins/flexslider/flexslider.css'
                                   'assets/plugins/parallax-slider/css/parallax-slider.css'
                                   'assets/plugins/image-hover/css/img-hover.css'

                                   'assets/css/pages/blog_magazine.css'

                                   'assets/css/themes/blue.css'
                                   'assets/css/custom.css'

                                    filter='?yui_css' output='assets/css/main.css' %}
                        sourcesCss.push('{{ asset_url }}');
                    {% endstylesheets %}


                    /* Export Css loaded */
                    var nbFilesCssLoaded = 0;
                    function loadCSS( href, before, media, callback ) {
                        "use strict";

                        var ss = window.document.createElement( "link" );
                        var ref = before || window.document.getElementsByTagName( "script" )[ 0 ];
                        var sheets = window.document.styleSheets;
                        ss.rel = "stylesheet";
                        ss.href = href;
                        // temporarily, set media to something non-matching to ensure it'll fetch without blocking render
                        ss.media = "only x";
                        // DEPRECATED
                        if( callback ) {
                            ss.onload = callback;
                        }

                        // inject link
                        ref.parentNode.insertBefore( ss, ref );
                        // This function sets the link's media back to `all` so that the stylesheet applies once it loads
                        // It is designed to poll until document.styleSheets includes the new sheet.
                        ss.onloadcssdefined = function( cb ){
                            var defined;
                            for( var i = 0; i < sheets.length; i++ ){
                                if( sheets[ i ].href && sheets[ i ].href.indexOf( href ) > -1 ){
                                    defined = true;
                                }
                            }
                            if( defined ){
                                cb();
                                nbFilesCssLoaded++;

                                if( sourcesCss.length == nbFilesCssLoaded ) {
                                    $('html').removeClass("loading");
                                    $('.loader').remove();
                                }
                            } else {
                                setTimeout(function() {
                                    ss.onloadcssdefined( cb );
                                });
                            }
                        };
                        ss.onloadcssdefined(function() {
                            ss.media = media || "all";
                        });
                        return ss;
                    }

                    for(var i = 0; i < sourcesCss.length; i++) {
                        loadCSS(sourcesCss[i]);
                    }
                })();
            </script>
        {% endblock %}

        <!-- Facebook API -->
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '{{ facebook_app_id }}',
              xfbml      : true,
              version    : 'v2.3'
            });
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/fr_FR/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
    </body>
</html>