{% for flashMessage in app.session.flashbag.get('flash-notice') %}
    <div class="alert alert-success fade in">
        {{ flashMessage }}
    </div>
{% endfor %}

{% if form_errors(form) %}
    <div class="alert alert-danger fade in">
        {{ form_errors(form) }}
    </div>
{% endif %}

<form action="{{ path('_baseContactIndex') }}" method="post" {{ form_enctype(form) }} class='sky-form'>
    <header>Compléter ce formulaire afin de nous contacter</header>
    <fieldset>

        <div class="row">
            <section class="col col-6">
                {{ form_label(form.name) }}<span class="color-red">*</span>
                <label class="input{% if form_errors(form.name) %} state-error{% endif %}">
                    <i class="icon-append fa fa-user"></i>
                    {{ form_widget(form.name) }}
                </label>
                
                {% if form_errors(form.name) %}
                    <em class="invalid">{{ form_errors(form.name) }}</em>
                {% endif %}
            </section>   

            <section class="col col-6">
                {{ form_label(form.email) }}<span class="color-red">*</span>
                <label class="input{% if form_errors(form.email) %} state-error{% endif %}">
                    <i class="icon-append fa fa-envelope-o"></i>
                    {{ form_widget(form.email) }}
                </label>

                {% if form_errors(form.email) %}
                    <em class="invalid">{{ form_errors(form.email) }}</em>
                {% endif %}
            </section>
        </div>


        <section>
            {{ form_label(form.subject) }}<span class="color-red">*</span>
            <label class="input{% if form_errors(form.subject) %} state-error{% endif %}">
                <i class="icon-append fa fa-tag"></i>
                {{ form_widget(form.subject) }}
            </label>

            {% if form_errors(form.subject) %}
                <em class="invalid">{{ form_errors(form.subject) }}</em>
            {% endif %}
        </section>

        <section>
            {{ form_label(form.body) }}<span class="color-red">*</span>
            <label class="textarea{% if form_errors(form.body) %} state-error{% endif %}">
                <i class="icon-append fa fa-comment"></i>
                {{ form_widget(form.body) }}              
            </label>

            {% if form_errors(form.body) %}
                <em class="invalid">{{ form_errors(form.body) }}</em>
            {% endif %}
        </section>

        {{ form_rest(form) }}
        
    </fieldset>

    <footer>
        <button type="submit" class="button" />Envoyer votre message</button>
        <em><span class="color-red">*</span> Informations obligatoires</em>
    </footer>
</form>