<!-- Photo Stream -->
<div class="headline"><span class="title">Galerie photos</span></div>            
<ul class="list-unstyled blog-photos margin-bottom-35">
    {% for photo in photos_list %}
        <li>
            <a href="{{ url('_basePicsIndex') }}">
                <img src="http://farm{{ photo.farm }}.staticflickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}_s.jpg" alt="{{ photo.title }}" width="56" height="56" />
            </a>
        </li>
    {% endfor %}
</ul>
<!-- End Photo Stream -->