<!-- Latest Comment -->
<div class="headline"><span class="title">Derniers commentaires</span class></div>
<div class="profile home-comments">
    <div iclass="panel-body no-padding _mCS_3 mCS-autoHide" data-mcs-theme="minimal-dark" style="position: relative; overflow: visible;">
        <div class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0">
            <div class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">
                {% for comment in comment_list %}
                    <div class="profile-event">
                        <div class="date-formats">
                            <span>{{ comment.createdAt|date('d') }}</span>
                            <small>{{ comment.createdAt|date('m Y') }}</small>
                        </div>
                        <div class="overflow-h">
                            <span class="author heading-xs">
                                {% if comment.u_username is not empty %}
                                    {{ comment.u_username }}
                                {% else %}
                                    Anonyme
                                {% endif %}
                            </span>
                            <p>
                                {% if comment.type == "forum" %}
                                    <a href='{{ path('herzult_forum_topic_show', {'timestamp' : comment.createdAt|date('U'), 'categorySlug' : comment.cat_slug, 'slug' : comment.slug } )}}'>
                                {% else %}
                                    <a href='{{ comment.link }}#comment_{{ comment.id }}'>
                                {% endif %}
                                    {{ comment.content | striptags | truncate(160) | raw }}
                                </a>
                            </p>
                        </div>    
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- End Latest Comment -->